.grid {
    display: grid;
}

.flex {
    display: flex;
}

.templateColumn {
    grid-template-columns: repeat(2, 1fr) 2fr;
}

.gridCenter {
    place-content: center;
    place-items: center;
}

.g10Px {
    gap: 10px;
}